<div id="letters-numbers-slave" class="hero is-fullheight is-primary is-bold">
  <div class="columns is-mobile is-multiline is-gapless">
    <div class="column is-3 number-item" data-ng-repeat="tile in tiles | orderBy:'key'" data-ng-click="tileClick(tile)" data-ng-class="{'selected': tile.selected}">
      {{tile.letter}}
    </div>
  </div>
  <div class="modal" data-ng-class="{'is-active' : !hostReady}">
    <div class="modal-background"></div>
    <div class="modal-container">
      <div class="modal-content">
        <h1 class="title is-1">
          Waiting for host device..
        </h1>
        <p class="description">
          To play this game, you need to also visit this site with your desktop/laptop. They will be working together to help you find the solution. <strong>Make sure you use the same credentials!</strong>
        </p>
      </div>
    </div>
  </div>
</div>
