<section id="login" class="hero is-fullheight is-primary is-bold">
  <div class="hero-content">
    <div class="container">
      <div class="column is-offset-3 is-6">
        <p class="control">
          <input class="row-item input" data-ng-model="email" type="text" placeholder="email" data-ng-keypress="keyPressed($event)" data-ng-class="{'error-present': errorPresent}">
          <input class="row-item input" data-ng-model="pin" type="text" placeholder="pin" data-ng-keypress="keyPressed($event)" data-ng-class="{'error-present': errorPresent}">
          <a class="row-item button" data-ng-click="loginUser()">
            <strong data-ng-if="!loggingIn">Go</strong>
            <i class="fa fa-refresh fa-spin" data-ng-if="loggingIn"></i>
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="hero-footer">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a href="http://www.snowflakewebdesign.nl">Snowflake</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
